{% extends 'base.html.twig' %}

{% block title %}
	Error 404
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<p class="text-success">La page n'existe pas</p>
		</div>
	</div>
{% endblock %}
