{% extends 'base.html.twig' %}

{% block title %}utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h4 class="text-primary mt-4">Inscription</h4>
			<div class="col-5">
				{{ form_start(form) }}
				{{ form_row(form.username) }}
				{{ form_row(form.password) }}
				{{ form_end(form) }}
				<input type="submit" value="Enregistrer" class="btn btn-primary mt-4">
			</div>
		</div>
	</div>
{% endblock %}
